.main-container {
  background-color: #009688;
  /* #020c1b */
}

.bg-second {
  background-color: #212529 !important;
  color: #009688 !important;
}

.text-first {
  color: #212529 !important;
}

.text-second {
  color: #e8e4e6 !important;
}

.navbar {
  height: 60px;
}